<h1>Mon Dashboard</h1>

<h2>Mes chambres</h2>
<% @rooms.each do |room| %>
  <div>
    <h3>
      <%= link_to room.name, room_path(room) %>
    </h3>
    <p><%= room.description %></p>
  </div>
<% end %>

<h2>Mes réservations en cours</h2>
<% if @current_bookings.any? %>
  <% @current_bookings.each do |booking| %>
    <div>
      <p>
        Chambre :
        <%= link_to booking.room.name, room_path(booking.room) %>
      </p>
      <p>Du <%= booking.start_date %> au <%= booking.end_date %></p>
    </div>
  <% end %>
<% else %>
  <p>Aucune réservation en cours.</p>
<% end %>

<h2>Mes réservations à venir</h2>
<% if @upcoming_bookings.any? %>
  <% @upcoming_bookings.each do |booking| %>
    <div>
      <p>
        Chambre :
        <%= link_to booking.room.name, room_path(booking.room) %>
      </p>
      <p>Du <%= booking.start_date %> au <%= booking.end_date %></p>
    </div>
  <% end %>
<% else %>
  <p>Aucune réservation à venir.</p>
<% end %>

<h2>Mes réservations passées</h2>
<% if @past_bookings.any? %>
  <% @past_bookings.each do |booking| %>
    <div>
      <p>
        Chambre :
        <%= link_to booking.room.name, room_path(booking.room) %>
      </p>
      <p>Du <%= booking.start_date %> au <%= booking.end_date %></p>
    </div>
  <% end %>
<% else %>
  <p>Aucune réservation passée.</p>
<% end %>
